body{
    background-image:url(/imgx1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.d1{
    height: 40vh;
    width: 60vw;
    margin-top:25vh;
}
.d2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2vw;
}
h2{
    transform: translateY(-6vh);
}
.d2 > a{
    margin-right:1vw;
    margin-left:1vw
}
.footer{ 
    width: 100vw;
    position: fixed;
    bottom: -1vh;
}
.icon:hover{
    animation:scale 130s;
    box-shadow: 0.1rem 0.8rem 1.5rem rgba(0, 0, 0, 1);
    border-radius: 8px;
}
.icon:active{
    opacity: 0.8;
}


@media (max-width:1201px) {
    body{
        background-size:180vh
    }
    
}
@media (max-width: 769px) {
    .d1{margin-top:20vh;}
    .icon{ width:calc(1.5rem + 5vw );
    margin-left:1.5vw;
margin-right: 1.5vw;}
    }
@media (max-width: 541px) {
    .d1{margin-top:15vh;}
    }
    @keyframes scale{
    0.5%{transform:scale(1.05);}
    99%{transform: scale(1.1);}
}
